/* common shared css */
*{
    /* margin: 0; */
}
body{
    font-family: 'Open Sans', sans-serif;
}
.orange-text{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;
}

/* nav relate styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
    font-size: 50px;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-description{
    margin-bottom: 20px;
}

/* main section styles */


/* about section styles */
